<style>
    .user {
        font-weight: bold;
    }

    .logout {
        cursor: pointer;
        margin-left: 5px;
    }
</style>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">GB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-repeat="role in user.realm_access.roles">
                <ul class="nav navbar-nav">
                    <li ng-show="role == 'market.manager' || role == 'market.admin'"><a ui-sref="manage">Управление товарами</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="cart">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                </li>
                <li ng-show="user.name">
                    <a>
                        <span class="user">Привет, {{user.name}}</span>
                        <span ng-click="logout()" href="" class="logout">Выход</span>
                    </a>
                </li>
                <li ng-if="(!user.preferred_username && selected_login && !selected_registration)"><a ui-sref="registration">Регистрация</a></li>
                <li ng-if="(!user.preferred_username && !selected_login && selected_registration)"><a ui-sref="login">Вход</a></li>
                <li ng-if="(!user.preferred_username && selected_login && selected_registration)">
                    <a ui-sref="login">Вход</a>
                </li>
                <li ng-if="(!user.preferred_username && selected_login && selected_registration)">
                    <a ui-sref="registration">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>